.dashboard-link{
    width: 100%;
    text-decoration: none;
    color: white;
   
}

.dashboard-link:hover{
    text-decoration: none;
    color: gray;
}

.dashboard-button{
    width: 100%;
    min-height: 80px;
    /* border-radius: 0; */
    margin-bottom: 10px;
}
